*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ******************************************************************* */
/* ************************** ROBE GENERALI *************************+ */
/* ******************************************************************* */

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* ******************************************************************* */
/* ************************ SEZIONE PRINCIPALE **********************+ */
/* ******************************************************************* */

.containerSopraPlayer{
  display: flex;
  flex-direction: row;
}

.asideLeft{
  width: 230px;
  background-color: green;
  height: calc(100vh - 90px);
}

.sezionePrincipale{
  display: flex;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: gold;
  flex-direction: column;
  overflow: auto;
}

.fixedTop{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: red;
}

.navbarMia{
  height: 100px;
  background-color: purple;
  margin-top: 30px;
  margin-bottom: 10px;
}

.albumCovers{
  height: 100px;
  background-color: darkcyan;
  margin-bottom: 10px;
}

.containerPlayer{
  display: flex;
}

.fixedPlayer{
  top: calc(100% - 90px);
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 300;
  background-color: blue;
}

/* ************************************************************ */
/********************** AGGIUNTA DI MEDIAQUERY ******************/
/* ************************************************************ */

@media all and (max-width: 768px){

}

@media all and (min-width: 768px) and (max-width: 992px){

}

@media all and (min-width: 992px) and (max-width: 1200px){

}

@media all and (min-width: 1200px){

}
