*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ******************************************************************* */
/* ************************** ROBE GENERALI *************************+ */
/* ******************************************************************* */

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

a:hover, a:active, a:focus {
    color: rgba(255, 255, 255, 1);
}


/* ******************************************************************* */
/* ************************* BARRA A SINISTRA ***********************+ */
/* ******************************************************************* */

.asideLeft{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 230px;
  background-color: green;
  height: calc(100vh - 90px);
}

.logoEsteso{
  padding: 20px;
}

.logoEsteso img{
  width: 70%;
}

.logoMobile{
  display: none;
}

.asideLeft .listaIcone li{
  border-left: 3px solid rgba(232, 124, 207, 0);
  padding-left: 17px;
  font-size: 13px;
  line-height: 35px;
}

.asideLeft .listaIcone li:first-child {
  border-left: 3px solid greenyellow;
}

/* il primo elemento link della lista deve essere sempre bianco */
.asideLeft .listaIcone li:first-child a {
  color: white;
}
/* gli altri elementi link della lista devono essere bianchi solo facendoci hover */
.asideLeft .listaIcone li a:hover {
  color: white;
}

/* gestione immaginine home cerca e linbreria nella barra a sinistra */
.asideLeft .listaIcone li img{
  height: 26px;
  margin-right: 1.9px;
  vertical-align: middle;
  opacity: 0.8;
}

.asideLeft a:hover img, .asideLeft a:focus img, .asideLeft a:active img{
  opacity: 1;
}

/* gestione sezione playlist nella asideLeft */

.playlistLeft{
  padding: 20px;
  /* overflow: hidden; */
}

.playlistLeft h2{
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: bold;
}

/* queste definizioni gestiscono il link con il quadratino col + */
.playlistLeft .creaPlaylist a:before{
  display: inline-block;
  content: '+';
  width: 37px;
  height: 37px;
  margin-right: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  color: black;
}

.playlistLeft .creaPlaylist:hover a:before{
  background-color: white;
}

.playlistLeft .creaPlaylist:hover a{
  color: white;
}

.playlistLeft .creaPlaylist span{
  font-size: 15px;
}

/* queste classi gesticono la sezione playlist con una lista che ha in ogni li scritto "nome playlist" */
.playlistLeft .listaPlaylist{
  height: 80%;
  overflow-y: auto;
  margin-top: 10px;
}

.playlistLeft .listaPlaylist li{
  font-size: 13px;
  line-height: 35px;
}

/**************** gestione rettangolino AsideLeft **************/
.rettangolinoAside{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  padding: 0px 20px;
  /* align-self: flex-end; */
  background-color: blue;
}

.rettangolinoAside .installa{
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.rettangolinoAside .installa a{
  display: flex;
  align-items: flex-end;
}

.rettangolinoAside .installa a:hover img{
  opacity: 1;
}

.rettangolinoAside .installa img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  opacity: 0.8;
}
.rettangolinoAside .installa span{
  font-size: 13px;
}

.rettangolinoAside .user {
  display: flex;
  align-items: center;
}

.rettangolinoAside .user .profiloIMG {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: grey;
  border-radius: 30px;
  /* serve a nascondere l'immaginina che straborda fuori dal bordo radius */
  overflow: hidden;
}

.rettangolinoAside .user img{
  width: 25px;
  height: 28.13px;
}
.rettangolinoAside .user h2{
  font-size: 14px;
}

/* ******************************************************************* */
/* ************************ SEZIONE PRINCIPALE **********************+ */
/* ******************************************************************* */

.containerSopraPlayer{
  display: flex;
  flex-direction: row;
}

.sezionePrincipale{
  display: flex;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
  flex-direction: column;
  overflow: auto;
}

/******************************** barra fissa top ********************/
.fixedTop{
  position: fixed;
  z-index: 1;
  height: 90px;
  width: calc(100% - 230px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
}

.fixedTop button{
  display: inline-block;
  padding: 10px 40px;
  color: white;
  border-radius: 50px;
  border-color: white;
  font-size: 12px;
  line-height: 20px;
  background-color: rgba(213, 146, 129, 0);
  font-family: 'Montserrat', sans-serif;
}

/*********************** barra di navigazione ********************/
.navbar{
  height: 55px;
  background-color: #141922;
  font-size: 13px;
  margin-top: 90px;
  text-align: center;
}

.navbar ul li{
  margin: 10px;
  display: inline-block;
}

/* gestisco le caratteristiche dei link
della lista nella navbar, metto position
relative così che facciano da àncora per
il position absolute della lineetta verde */
.navbar ul li a{
  position: relative;
  padding-bottom: 5px;
  line-height: 35px;
}

.navbar .sottoVerde:after{
  position: absolute;
  margin-top: 28px;
  left: 50%;
  /* translateX Defines a translation, using only the value for the X-axis */
  transform: translateX(-50%);
  content: '';
  height: 2px;
  width: 30px;
  background: greenyellow;
}

/*************************** gestione albumCovers **************/
.albumCovers{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* gestisco i div che contengono le cover e il testo */
.contieniCover{
  text-align: center;
}

.contieniCover h3{
  font-size: 16px;
  line-height: 16px;
}
.contieniCover p{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 35px;
}

/* gestisco le macro sezioni si AlbumCovers */
.recentlyPlayed, .creato, .artistiPopolari{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.recentlyPlayed{
  margin-top: 20px;
}

.creato, .artistiPopolari{
  margin-top: 10px;
}

.creato p, .artistiPopolari p{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 10px;
}

/* gesitione delle liste e elementi delle macrosezioni di AlbumCovers */
.recentlyPlayed ul, .creato ul, .artistiPopolari ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recentlyPlayed ul li, .creato ul li, .artistiPopolari ul li{
  /* facci entrare 6 li ma a ciasucno togli 15px, così posso darlo di margin right */
  width: calc(100% / 6 - 15px);
  margin-right: 15px;
  cursor: pointer;
}

.recentlyPlayed .contieniCover img, .creato .contieniCover img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 16px;
}

/* rendo tonde le immagini controllate da questa classe */
.artistiPopolari .contieniCover img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 16px;
  border-radius: 320px;
}

/* ******************************************************************* */
/* ************************ SEZIONE PLAYER FIXED*********************+ */
/* ******************************************************************* */

.fixedPlayer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: calc(100% - 90px);
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #282828;
}

/* riquadro album */
.riquadroAlbum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 90px;
  padding: 10px;
}

.riquadroAlbum .immagineAlbum{
  width: 20%;
}

.riquadroAlbum .immagineAlbum img{
  width: 100%;
}

.riquadroAlbum .testoPlayer{
  width: 50%;
  padding-left: 10px;
}

.riquadroAlbum .testoPlayer a h2{
  font-size: 12px;
  color: white;
}

.riquadroAlbum .testoPlayer a h2:hover{
  text-decoration: underline;
}

.riquadroAlbum .testoPlayer a p{
  margin-top: -1px;
  font-size: 10px;
  padding-bottom: 1px;
}
.riquadroAlbum .testoPlayer a p:hover{
  text-decoration: underline;
  color: white;
}

.riquadroAlbum .iconePlayer a i{
  margin-left: 10px;
}



/* riquadro controlli Player */
.controlliPlayer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 90px;
  /* background-color: pink; */
}

.controlliPlayer .contieniPulsanti {
  width: 210px;
  margin-top: 9px;
  margin-bottom: 8px;
  /* background-color: green; */
}

.controlliPlayer .contieniPulsanti ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controlliPlayer .contieniPulsanti ul li{
  font-size: 16px;
}

/* controllo il pulsante play per ottenere le dimensioni giuste */
.controlliPlayer .contieniPulsanti ul .play{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
/* anche quando faccio hover */
.controlliPlayer ul .play:hover{
  font-size: 32px;
  margin: -1px 9px;
}

/* DA QUI GESTISCO TEMPO E BARRA DI SCORRIMENTO TEMPO */
/* dimensioni barra tempo rispetto al contenitore */
.controlliPlayer .contieniBarraAvanzamento{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95.1%;
  /* background-color: red; */
}

.controlliPlayer .contieniBarraAvanzamento p{
  font-size: 10px;
}

/* da qui in avanti gestisco la barra di scorrimento del tempo */
.tempoScorrimento{
  width: 79.3%;
}

.tempoScorrimentoPassato{
  /* position relative così fa da ancora al pallino in absolute*/
  position: relative;
  width: 20%;
  height: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  float: left;
}

.tempoScorrimento:hover .tempoScorrimentoPassato{
  background-color: greenyellow;
}

.tempoScorrimento:hover .grabberScorrimento{
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.tempoScorrimentoNonAscoltato{
  width: 80%;
  height: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  float: left;
}
/* FINE FESTIONE BARRA DI SCORRIMENTO TEMPO */


/* DA QUI GESTISCO IL RIQUADRO A DESTRA CON LE OPZIONI */
.opzioniPlayer {
  width: 230px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opzioniPlayer ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 37%;
}

.opzioniPlayer ul li{
  font-size: 13px;
}

/* DA QUI GESTISCO BARRA VOLUME */
/* lunghezza barra volume rispetto al contenitore */
.contieniBarraVolume{
  width: 56%;
}

.tempoScorrimentoOP{
  width: 100%;
}

.volumeScorrimentoUP{
  /* position relative così fa da ancora al pallino in absolute*/
  position: relative;
  float: left;
  width: 20%;
  height: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.tempoScorrimentoOP:hover .volumeScorrimentoUP{
  background-color: greenyellow;
}

.tempoScorrimentoOP:hover .grabberScorrimento{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.volumeScorrimentoDOWN{
  float: left;
  width: 80%;
  height: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
/* FINE GESTIONE BARRA VOLUME */



/* ************************************************************ */
/********************** AGGIUNTA DI MEDIAQUERY ******************/
/* ************************************************************ */

@media all and (max-width: 768px){

  /* barra asideLeft */
  .asideLeft{
    width: 50px;
  }
  .logoEsteso{
    display: none;
  }

  .logoMobile{
    display: block;
    text-align: center;
    padding: 5px;
  }

  .logoMobile img{
    width: 70%;
  }

  .asideLeft .listaIcone li{
    padding-left: 9px;
  }

  .asideLeft .listaIcone li span{
    display: none;
  }

  .playlistLeft{
    display: none;
  }

  /* sezione principale */
  .sezionePrincipale{
    width: calc(100% - 50px);
  }
  /* barra fissa top */
  .fixedTop{
    width: calc(100% - 50px);
  }

  /*********************** barra di navigazione ********************/
  .navbar{
    height: 110px;
  }

  /* albumCovers */
  .recentlyPlayed ul li, .creato ul li, .artistiPopolari ul li{
    width: calc(100% / 2 - 10px);
    margin-right: 10px;
  }

}

@media all and (min-width: 768px) and (max-width: 992px){
  /*********************** barra di navigazione ********************/
  .navbar{
    height: 110px;
  }

  /* albumCovers */
  .recentlyPlayed ul li, .creato ul li, .artistiPopolari ul li{
    width: calc(100% / 4 - 10px);
    margin-right: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px){

}

@media all and (min-width: 1200px){

}
